.card {
    min-width: 250px;
    height: 400px; 
    flex-shrink: 0;
    border: 1px solid #ddd;
    overflow: hidden;
    scroll-snap-align: start;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;    
}

.card img{
  width: 100%;
  overflow: hidden;
}
  
.cardInfo{
  padding: 10px;
}

.cardInfo h3, .cardInfo p {
  line-height: 1.2;
  color: white;
}

.cardInfo h3 {
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: bold;
}

.cardInfo p {
  font-size: 14px;
  margin: 4px 0;
}

.price {
  font-weight: 400;
  color: #0D4DA0;
  margin-top: 5px;
}

.button {
  padding: 0 10px;
  border-radius: 0;
  cursor: pointer;
  font-weight: 100;
}

.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}


  